@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Customize
// Colors
$primary: #2D3947;
// Links
$link-hover: #00D1B2;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~bulma/bulma.sass';
@import '~bulma-pageloader/dist/css/bulma-pageloader.sass';

html,
body {
    font-size: 14px;
}


.svg-box {
    width: 100%;
    height: 0;
    padding-top: 50%; /* Aspect ratio */ 
    position: relative;
  }
  
.svg-box-content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.table-no-border {
border: none;
border-collapse: separate;
border-spacing: 30px 10px;
vertical-align: middle;
}

.table tr.is-warning {
background-color:  #ffe4b4;
color: black;
}

.table tr.is-bold {
font-weight: bold;
}

.table tr.is-greyed-out {
color: hsl(0, 0%, 71%);
}

.is-disabled {
    pointer-events: none;
    opacity: .65;
}